@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --Orange: hsl(26, 100%, 55%);
  --Pale-orange: hsl(25, 100%, 94%);
  --Very-dark-blue: hsl(220, 13%, 13%);
  --Dark-grayish-blue: hsl(219, 9%, 45%);
  --Grayish-blue: hsl(220, 14%, 75%);
  --Light-grayish-blue: hsl(223, 64%, 98%);
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
}

body {
  font-family: "Kumbh Sans", sans-serif;
  /* border: 3px solid red; */
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 12px;
}

p {
  font-size: 16px;
}

ul {
  list-style: none;
  display: none;
}

/* nav */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav-section-1a {
  display: flex;
  align-items: center;
  gap: 14px;
}

.nav-section-2 {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 14px;
  /* border: 1px solid black; */
}

.nav-section-2 div:last-child {
  max-width: 20%;
}

.nav-section-2 div:last-child img {
  max-width: 100%;
}

/* main */
.hero-img img {
  max-width: 100%;
}

.sneakers-div {
  position: relative;
}

#arrows-wrapper {
  position: absolute;
  bottom: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 0;
  right: 0;
}

.arrow-divs {
  background-color: var(--White);
  width: 35px;
  height: 35px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 19px;
}

#thumbnail-wrapper {
  display: none;
}

/* section-2 */

#section-2-div-1 h4 {
  color: var(--Dark-grayish-blue);
  font-weight: 700px;
  /* font-size: 19px; */
}

#section-2-div-1 h1 {
  padding: 10px 0;
  font-size: 2rem;
}

#section-2-div-2 > p {
  color: var(--Grayish-blue);
  line-height: 1.9;
  /* border: 1px solid black; */
  padding: 0 10px;
}

#section-2-div-2a{
    display: flex;
    justify-content: space-between;
    /* border: 2px solid blue; */
    padding-top: 20px;
}

#ammount{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
    width: 50%;
}

#ammount h3 {
    /*border: 3px solid red;
    */background: var(--Black);
    color: var(--White);
    font-weight: 700;
    border-radius: 5px;
    /*align-items: center;
    *//*justify-content: center;
    */text-align: center;
    padding: 5px 0;
    width: 40%;
}

#section-2-div-2a p {
    /* border: 3px solid red; */
    color: var(--Dark-grayish-blue);
    text-decoration: line-through;
    font-weight: 700;
    padding: 5px 7px;
    font-size: 19.2px;
}

#section-2-div-2bi{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
    margin: 20px 0;
    width: 97%;
    height: 50px;
    background-color: var(--Light-grayish-blue);
    border-radius: 7px;
    border: none;
}

button{
     background-color: var(--Orange);
  color: var(--Black);
  font-weight: 700;
  font-size: 18px;
  padding: 20px;
  width: 100%;
  border: none;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#img-div {
    margin-right: 16px;
}

@media (min-width:1024px){
    /* nav */
    .nav-section-2{
        gap: 40px;
        margin-right: 50px;
    }

    .nav-section-2 div:last-child {
  max-width: 30%;
}

    ul{
        /* border: 1px solid red; */
        display: flex;
        /* justify-content: space-between; */
        color: var(--Dark-grayish-blue);
        font-weight: 700;
        width: 40rem;
        gap: 25px;
    }

    #menu{
        display: none;
    }

    .nav-section-1{
        /* border: 2px solid black; */
        display: flex;
        gap: 50px;
    }

    .nav-container{
        /* border: 1px solid black; */
        /* box-shadow: 0 1px 1px grey; */
        border-bottom: 1px solid var(--Grayish-blue);
    }

    .hero-img img {
  max-width: 100%;
  border-radius: 15px;
}

.container{
    margin: 0 150px;
}

    .arrow-divs{
        display: none;
    }

    main {
        display: flex;
        flex: 1;
        align-items: center;
    }

    #thumbnail-wrapper {
  display: flex;
  border: none;
  justify-content: space-between;
}

#thumbnail-wrapper img:hover{
  border: 3px solid var(--Orange);
  transition: filter 0.3s ease;
  filter: opacity(0.5);
  transition: 0.3 ease;
}

#thumbnail-wrapper img {
    width: 20%;
    border-radius: 10px;
    cursor: pointer;
}

.div-wrapper{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    margin-top: 50px;
}

.main-section-1{
    /* border: 1px solid black; */
    margin-left: 100px;
    align-items: center;
    justify-content: center;
    width: 75%;
}

.section-2{
    /* border: 5px solid red; */
    width: 90%;
    margin-right: 10rem;
    padding: 0 5rem;
    /* justify-content: center; */
    /* margin-left: 18.75rem; */
    /* margin-top: 5rem; */
    margin: 5rem 0;
}


#section-2-div-2 > p{
    /* border: 1px solid red; */
    /* align-items: center; */
    /* justify-content: start; */
    width: 70%;
}

#section-2-div-1 h1{
    font-size: 2.5rem;
    width: 70%;
}


#section-2-div-2a{
    flex-direction: column;
    width: 50%;
    /* border: 1px solid black; */
}

#ammount{
    display: flex;
    justify-content: start;
    gap: 15px;
    /* border: 2px solid black; */
}

#ammount h3 {
    /* border: 3px solid red; */
    width: 25%;
    height: 27px;
    font-size: 16px;
}

#section-2-div-2a p {
    /* width: 50%; */
    font-size: 11px;
}

.div-2b{
    display: flex;
    justify-content: center;
    flex: 1;
    width: 70%;
    gap: 15px;
}

#section-2-div-2bi{
    flex: 1;
        
}

#section-2-div-2bii{
    /* border: 3px solid black; */
    flex: 2;
    height: 55px;
    margin-top: 19px;
}

}
